.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(85, 85, 245);
    font-family: 'Roboto';
}

.navbar h1 {
    margin: 5px;
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: rgb(235, 235, 235)
}

.linkovi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkovi a {
    text-decoration: none;
    margin: 15px;
    color: rgb(85, 85, 245);
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 5px;
}

.main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
