#nav {
    margin-left: 15px;
    margin-top: 30px;
    font-family: 'Roboto';
}

#nav a {
    color: rgb(235, 235, 235);
}

.add {
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list p {
    margin-bottom: 5px;
    margin-top: 25px;
    color: rgb(235, 235, 235);
}

.list a {
    margin-left: 10px;
    color: rgb(235, 235, 235);
}